{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>App User Registration</title>
<link rel="stylesheet" href="{% static 'css/authstyles.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
{% endblock meta %}

{% block content %}
<div style="background: linear-gradient(180deg, #FFF196 0%, #FFB74C 50%, #FFA5A5 100%);" class="min-h-screen flex items-center justify-center w-screen">
  <div class="max-w-md w-full bg-white py-6 px-10 my-10 rounded-2xl shadow-lg relative">
    <a href="{% url 'authentication:choose_role' %}" class="back-arrow-btn absolute top-5 left-5 text-gray-500 hover:text-gray-700">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 rounded-full" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
      </svg>
    </a>
    <h3 class="mt-2 text-center text-black text-2xl font-extrabold">App User Registration</h3>

    <form class="mt-8 space-y-6" method="POST" action="{% url 'authentication:register_appuser' %}">
      {% csrf_token %}
      <div class="space-y-4">
        <div>
          <input id="name" name="name" type="text" required class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm" placeholder="Name">
        </div>

        <div>
          <input id="phone" name="phone" type="text" required class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm" placeholder="Phone Number">
        </div>

        <div class="flex items-center justify-left mt-4 space-x-4">
          <div>
            <input id="sex_female" name="sex" type="radio" value="F" class="h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500">
            <label for="sex_female" class="ml-2 text-sm text-gray-700">Female</label>
          </div>
          <div>
            <input id="sex_male" name="sex" type="radio" value="M" class="h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500">
            <label for="sex_male" class="ml-2 text-sm text-gray-700">Male</label>
          </div>
        </div>


        <div>
          <input id="password" name="password" type="password" required class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm" placeholder="Password">
        </div>

        <div>
          <input id="birthdate" name="birthdate" type="date" required class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm">
        </div>

        <div>
          <input id="address" name="address" type="text" required class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm" placeholder="Address">
        </div>

        <div class="mt-6">
          <button type="submit" class="w-full py-2 px-4 bg-neutral-800 hover:bg-black text-white my-2 rounded-md">Register</button>
        </div>

        <p class="mt-4 text-center text-sm text-gray-600">
          Already have an account?
          <a href="{% url 'authentication:login' %}" class="font-medium text-orange-500 hover:text-orange-400 hover:underline">Login</a>
        </p> 

    </form>
    {% if messages %}
    <div class="mt-4">
      {% for message in messages %}
      {% if message.tags == "success" %}
            <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% elif message.tags == "error" %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% else %}
            <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
