<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h4 class="text-left">Qlean</h4>
          <p class="text-justify">Jl. Margonda No.5 Lantai UG Blok US 33, Kemiri Muka, Beji, Depok City, West Java 16423</p>
        </div>
  
        <div class="col-xs-6 col-md-4">
          <h6>What is This?</h6>
          <p class="text-justify">This site is our Final Project for the Databases course at the University of Indonesia! We are KKI '24.</p>
        </div>
  
        <div class="col-xs-6 col-md-4">
          <h6 class = "text-right">Our Team</h6>
          <ul class="footer-links">
            <li>Flori Andrea Ng</li>
            <li>Keira Diaz Nabhani</li>
            <li>Athazahra Nabila Ruby</li>
            <li>Isaac Jesse Boentoro</li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12 text-center">
          <p class="copyright-text">Imperial Kitchen & Dimsum</p>
        </div>
      </div>
    </div>
  </footer>
  