<div class="w-full bg-white shadow-lg rounded-tr-2xl rounded-tl-2xl rounded-br-2xl p-6 mb-4">
    <div class="flex flex-col space-y-4">
        <!-- Rating -->
        <div class="flex justify-between items-center">
            <span class="text-3xl font-bold text-amber-500">8.5<span class="text-lg">/10</span></span>
            <span class="text-sm text-gray-500">Nov 7, 2024</span>
        </div>
        <!-- Reviewer Name -->
        <div class="mt-4">
            <p class="font-semibold text-gray-900 text-2xl">Bonnie Green</p>
            <!-- <p class="text-sm text-gray-500">CTO at Flowbite</p> -->
        </div>

        <!-- Review Text -->
        <blockquote class="mt-2">
            <p class="text-gray-700">"Flowbite is just awesome. It contains tons of predesigned components and pages starting from login screen to complex dashboard. Perfect choice for your next SaaS application."</p>
        </blockquote>



        <div class="mb-4">
            <p class="text-sm text-gray-500">Worker</p>
            <p class ="font-semibold text-gray-900>">John Doe</p>
        </div>
    </div>
</div>